@import "../src/less/uikit.theme.less";

@global-font-family: 'Ubuntu', sans-serif;

.hook-navbar-container() { background: #000; opacity: 0.80; filter: alpha(opacity=80); }

.hook-iconnav-misc() {
  .uk-iconnav > li { border-right: 1px solid #999; }
  .uk-iconnav > li:last-child { border-right: none; }
}

.hook-icon-button() { width: 45px; height: 45px; }

.hook-link-muted() { border-bottom: 0.5px dotted @link-muted-color; text-decoration: none; }
