#nav {
  width: 100%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}
#nav ul {
  display: block;
  list-style: none;
  text-align: center;
}
#nav li {
  display: inline;
  padding-left: 20px;
}
#nav li i:active {
  border-bottom: 2px solid #000;
  opacity: 1;
}
#nav li i:hover {
  color: #fff;
  opacity:1;
}