#nav {
  width: 100%;
  position: fixed;
  top: 0;
}
#nav ul {
  display: block;
  list-style: none;
  text-align: center;
}
#nav li {
  display: inline;
  padding-left: 20px;
}
#nav li i:hover {
  color: #a9a9a9;
  opacity:1;
}