body {
  font-family: "Ubuntu", sans-serif;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #222;
}

.uk-navbar-container:not(.uk-navbar-transparent) > div > .uk-iconnav > li {
  border-right: 1px solid #999;
}

.uk-navbar-container:not(.uk-navbar-transparent) > div > .uk-iconnav > li > a {
  margin-right: 10px;
}

.uk-navbar-container:not(.uk-navbar-transparent)
  > div
  > .uk-iconnav
  > li:last-child {
  border-right: none;
}

.uk-navbar-container:not(.uk-navbar-transparent)
  > div
  > .uk-iconnav
  > li:last-child
  > a {
  margin-right: 0px;
}

.uk-link-muted {
  border-bottom: 0.5px dotted #999;
}

#github:hover {
  color: #999999;
}

#linkedin:hover {
  color: #007bb6;
}

#youtube:hover {
  color: #ff0000;
}

#email:hover {
  color: #f2a60c;
}
