body {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 4vmax;
}

@media only screen and (max-width: 640px) {
  #intro-text {
    font-size: 4vw;
  }
}

.uk-navbar-container:not(.uk-navbar-transparent),
.translucent {
  background: #111;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.uk-navbar-container:not(.uk-navbar-transparent) > div > .uk-iconnav > li {
  border-right: 1px solid #999;
}

.uk-navbar-container:not(.uk-navbar-transparent) > div > .uk-iconnav > li > a {
  margin-right: 10px;
}

.uk-navbar-container:not(.uk-navbar-transparent)
  > div
  > .uk-iconnav
  > li:last-child {
  border-right: none;
}

.uk-navbar-container:not(.uk-navbar-transparent)
  > div
  > .uk-iconnav
  > li:last-child
  > a {
  margin-right: 0px;
}

.uk-link-muted {
  border-bottom: 0.5px dotted #999;
  text-decoration: none;
}

#github:hover {
  color: #999999;
}

#linkedin:hover {
  color: #007bb6;
}

#youtube:hover {
  color: #ff0000;
}

#email:hover {
  color: #f2a60c;
}
